 <% if user_signed_in? %>
    Hi, <%= current_user.name %>. <%= link_to "Account", "/users/#{current_user.id}" %>

    <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
<br><br>
<a href="https://api.venmo.com/v1/oauth/authorize?client_id=1702&scope=make_payments%20access_profile%20aaccess_friends">Sign in to Venmo</a>
<% if user_signed_in? && current_user.delivery_token %>
  <script type="text/javascript">
    deliveryUserToken = "<%= current_user.delivery_token %>";
  </script>
<% end %>
<script type="text/javascript">
  $(document).ready(Landing.onReady);
  venmoToken = "<%= @venmo_token %>";
</script>
